<div class="inside">
<p id="notice"><%= notice %></p>

<button class="pure-button pure-button-primary"><%= link_to 'New Client', "/users/#{@user.id}/clients/new" %></button>

<h1>
  Welcome, coach!
</h1>

<div id="client-list">
  <div class="list-tools">
    <h1>Current Clients:</h1>
    <div class="tools">
      <form class ="pure-form">
      <input class="search pure-input" placeholder="Search" /><br>
      <button class="sort pure-button" data-sort="name">
      </form>
        Sort by name
      </button>
    </div>
  </div>
  <ul class="list">
    <% @clients.each do |client| %>
      <ul class="client-entry">
        <%= render partial: 'shared/user_client_list_item', locals: {client: client} %>
      </ul>
    <% end %>
  </ul>
<%= link_to 'Edit Profile', edit_user_path(@user) %>
</div>

