<div class="inside dashboard">
  <ul class="column">
    <li><%= image_tag("client_snapshot.png", alt: "client_snapshot", class: "snap ") %></li>
    <li><%= image_tag("meda_results1.png", alt: "meda_results1", class: "results-one") %></li>
    <li><%= image_tag("meda_results2.png", alt: "meda_results2", class: "results-two") %></li>
  </ul>
</div>
