<div class="center">
  <h1>Help your clients reach their financial goals.</h1>
  <h2>Build action plans, schedule checkpoints, and more.
  </h2>
</div>

<div class="center">
    <button class="pure-button pure-button-primary"><%= link_to "Sign Up Today", new_user_registration_path %></button>
    <button class="pure-button">
      <%= link_to "Sign In", new_user_session_path %>
    </button>
</div>


